body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
}

.panel {
  display: flex;
  position: absolute;

  align-items: center;
  justify-content: center;

  width: 100%;
  top: 1rem;
}

input[type="button"] {
  outline: none;
  border: none;

  background-color: #00000010;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

  transition: 0.15s;
}

input[type="button"]:hover {
  background-color: #00000020;
  transition: 0s;
}

input[type="button"]:active {
  background-color: #00000007;
}